*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-attachment: fixed;
    background-size: cover;
}
.nav{
    background-color: black;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand,.right{
    padding: 0px 30px;
}
.right {
    display: flex;
    justify-content: flex-end;
}
.link {
    margin: 0px 10px;
}
.link a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.link a:hover {
    color: aqua;
    transition: all 0.5s ease-out;
}


/* table */
caption{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 20px;
}
table {
    margin: 10px 20px;
    width: 90%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}
tr:hover {
    background-color:aqua;
}


/* style for Create form */
.form-group {
    margin: 40px 100px; 
    padding: 20px;
    background-color: #d5cdcd86;
    border: 1px solid #ddd; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-element{
    margin: 10px 0;
    width: 50%;
}
label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 3px;
}
.btn-submit{
    background-color: #007bff;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 3px; 
    cursor: pointer;
}
.btn-submit:hover{
    background-color: #0056b3;
    color: #000000;
}
.error-message{
    font-size: medium;
    color: red;
    font-weight: 900;
}